* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

a {
    color: white; /* Change link color */
    text-decoration: none;
}

a:hover {
    color: #66c2ff;
    cursor: pointer;
   /* text-decoration: underline; /* Add underline on hover */
}

/* Header styles */
header {
    background-color: rgb(53, 157, 255);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

header h1 {
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add text shadow */
}

/* Navigation styles */
/*
nav {
    background-color: rgb(5, 64, 173); 
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    font-size: 18px;
}
*/
nav {
    background-color: rgb(5, 64, 173); 
    padding: 5px 0;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover{
    background-color: white;
    color:black;
}
/* Dropdown Button */
.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(5, 64, 173);
    min-width: 160px;
    
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: white;
    color:black;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}





